<!doctype html>
<html lang="en">
<head>
  <title> HOMEPAGE DESIGN </title>
</head>
<body>
  <div class="background-image"></div>
  <div class="main">
    <div class="navbar">
      <div class="icon">
         <!-- <h1 class ="logo">FlavorFusion</h1>  -->
    </div>

  <div class ="menu">
  
  </div> 
 </div>
<div class="content">

  <h2>The Nest Nook Cafe & Restaurant !</h2>  
  <h3>  " Experience gastronomic delights that will 
    tantalize your taste buds ! "</h3>
 <button mat-button routerLink="/login">Order Now</button>   
</div>
</div>
</body>
</html>
  

