

       <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <div class="container">
      <div class="background-image"></div>
        <form action="#" class="login-form" (submit)="onSubmit($event)">
            <h1>Login</h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div class="form-group">
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
                 <!-- <p>Don't have an account? <a href="#" routerLink="/signup">Sign up</a></p> --> -->
            </div>
            
        </form>
        <button class="logout-btn" onclick="window.location.href='/home'">Log Out</button>
    </div>
</body>
</html>
